<div class="content">
   <div class="container-fluid">
      <div class="jumbotron" id="head-doc">
         <header>
            <h1>New Trainer</h1>
         </header>
         <form id="createActivity-form" action="/trainer/add" method="POST">
            {{#if alertMsg}}
            <p class="alertMsg">{{alertMsg}}</p>
            {{/if }}
            <div id="inputDiv">
               <label for="trainername"> Trainer Name</label><br>
               <input class="major" type="text" name="trainername" />
            </div>

            <div id="inputDiv">
               <label for="certifications"> Certifications </label><br>
               <input class="major" type="text" name="certifications" />
            </div>

            <div id="inputDiv">
               <label for="biography">Biography</label><br>
               <textarea name="biography" placeholder="Enter Your Biography Here.."></textarea>
            </div>



            <div class="centered">
               <div class="row">
                  <div class="col-sm-6"><input type="submit" value="Create Trainer"></div>
                  <div class="col-sm-6"> <input type="button" onclick="window.location.href='/trainer'" id="cancel"
                        value="Cancel"></div>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>