<div class="content">
    <div class="container-fluid">

        <header>
            <h1>Delete Trainer</h1>

        </header>

        <body>
            <p>{{message}}</p>
        </body>