<div class="content">
   <div class="container-fluid">
      <div class="jumbotron" id="head-doc">
         <header>
            <h1>Edit User</h1>
         </header>
         {{#if error}}
         <p class = "alertMsg">*{{error}}</p>
         {{/if}}
          {{#if alertMsg}}
         <p class = "alertMsg">*{{alertMsg}}</p>
         {{/if}}
         <form id="updateUser-form" action="/user/update" method="POST">
            <div id="inputDiv">
                    <label for="email"> Email</label><br>
                    <input class="major" type="email" id="email" name="email" />
                </div>
                <div class="row" id="inputDiv">
                    <div class="col-sm-6"><label for="firstname">First Name</label><br><input type="text" id="firstname"
                            name="firstname" /></div>
                    <div class="col-sm-6"><label for="lastname"> Last Name</label><br><input type="text" id="lastname"
                            name="lastname" /></div>
                </div>
                <div class="row" id="inputDiv">
                    <div class="col-sm-6">
                        <label for="dob"> Birth Date</label><br>
                        <input type="date" id="dob" name="dob" />
                    </div>
                    <div class="col-sm-6">
                        <label for="gender"> Gender</label><br>
                        <select id="gender" name="gender">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                </div>
                <div class="row" id="inputDiv">
                    <div class="col-sm-4">
                        <label for="AptNo">Apt No.</label><br>
                        <input type="text" id="aptno" name="aptno" />
                    </div>
                    <div class="col-sm-4">
                        <label for="address">Street Address</label><br>
                        <input type="text" id="streetAddress" name="streetAddress" />
                    </div>
                    <div class="col-sm-4">
                        <label for="city"> City</label><br>
                        <input type="text" id="city" name="city" />
                    </div>
                </div>
                <div class="row" id="inputDiv">
                    <div class="col-sm-6">
                        <label for="state">State</label><br>
                        <input type="text" id="state" name="state" />
                    </div>
                    <div class="col-sm-6">
                        <label for="zipCode">Zip Code</label><br>
                        <input type="number" id="zipCode" name="zipCode" />
                    </div>
                </div>
                <div id="inputDiv">
                    <label for="country"> Country</label><br>
                    <input type="text" id="country" name="country" />
                </div>
                <div class="row" id="inputDiv">
                    <div class="col-sm-6">
                        <label for="username">Username</label><br>
                        <input type="text" id="username" name="username" />
                    </div>
                    <div class="col-sm-6">
                        <label for="role">Role</label><br>
                        <select id="role" name="role">
                            <option value="gymMember">Gym Member</option>
                            <option value="TRAINER">Trainer</option>
                            <option value="ADMIN">Admin</option>
                            <option value="STAFF">Staff</option>
                        </select>
                    </div>
                </div>
                <div class="row" id="inputDiv">
                    <div class="col-sm-6">
                        <label for="password">Password</label><br>
                        <input type="password" id="password" name="password" />
                    </div>
                    <div class="col-sm-6">
                        <label for="password">Confirm Password</label><br>
                        <input type="password" id="confirmPassword" name="confirmPassword" />
                    </div>
                </div>
            <input type="hidden" name="userId" value={{user._id}}>
            <div class="centered">
               <div class="row">
                  <div class="col-sm-6"><input type="submit"  value="Update"></div>
                  <div class="col-sm-6"> <input type="button" onclick="window.location.href='/user/view/{{user._id}}'"  id="cancel" value="Cancel"></div>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>