<div class="content">
    <div class="container-fluid">
        <div class="jumbotron" id="head-doc">
            <header>
                <h1>User</h1>
            </header>
            <main>
                <p>{{message}}</p>
                <div class="row">
                    {{#if users}}
                    {{#each users}}
                    <div class="col-sm-3" id="activity">
                        <a href="/user/view/{{this._id}}">
                            <p id="username">{{this.username}}</p>
                            <hr>
                            <img src="../public/images/abs.jpg">
                        </a>
                    </div>
                    {{/each}}
                    {{/if }} 
                        <div class="col-sm-3" id="add">
                            <a href="user/add"><img src="../public/images/add.png"></a>
                        </div>
                </div>
            </main>
        </div>
    </div>
</div>