<div class="content">
    <div class="container-fluid">

        <header>
            <h1>Workout Member</h1>

        </header>

        <body>

            <button type="button" onclick="window.location.href='/workoutMember/add'" class="btn btn-default">
                AddWorkout </button>
            <button type="button" onclick="window.location.href='/workoutMember/view'" class="btn btn-default">
                ViewWorkout </button>




        </body>
    </div>
</div>